.git
.github
.idea
.vscode
.DS_Store

node_modules
**/node_modules
.pnpm-store

apps/web/.next
apps/api/dist
**/.next
**/dist
**/coverage

uploads
apps/api/uploads

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example
docker-compose*.yml
